In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
gene_reference = pd.read_csv('/home/raquelcr/scanpy/combined_adata.csv')
gene_reference

,NMR gene name,gene_ids,Human gene stable ID,Human gene name,Mouse gene stable ID,Mouse gene name
0,ZMYND10,ENSHGLG00000010267,ENSG00000004838,ZMYND10,ENSMUSG00000010044,Zmynd10
1,AMIGO3,ENSHGLG00000010542,NaN,NaN,NaN,NaN
2,TNFSF10,ENSHGLG00000010558,NaN,NaN,NaN,NaN
3,ENSHGLG00000010617,ENSHGLG00000010617,NaN,NaN,NaN,NaN
4,NPRL2,ENSHGLG00000010655,ENSG00000114388,NPRL2,ENSMUSG00000010057,Nprl2
...,...,...,...,...,...,...
20769,ENSHGLG00000000459,ENSHGLG00000000459,NaN,NaN,NaN,NaN
20770,ENSHGLG00000000069,ENSHGLG00000000069,NaN,NaN,NaN,NaN
20771,ENSHGLG00000019630,ENSHGLG00000019630,NaN,NaN,NaN,NaN
20772,ENSHGLG00000019772,ENSHGLG00000019772,NaN,NaN,NaN,NaN
20773,ENSHGLG00000019705,ENSHGLG00000019705,NaN,NaN,NaN,NaN

In [3]:
gene_reference['Local_ID'] = 'LOCAL' + gene_reference.index.astype(str).str.zfill(11)

In [4]:
mask_human = (gene_reference['Human gene stable ID']!= gene_reference['Human gene name']) & (gene_reference['Human gene stable ID'].notnull())
mask_mouse = (gene_reference['Mouse gene stable ID']!= gene_reference['Mouse gene name']) & (gene_reference['Mouse gene stable ID'].notnull())
mask_nmr = (gene_reference['gene_ids']!= gene_reference['NMR gene name']) & (gene_reference['gene_ids'].notnull())

In [ ]:
# Create global ids with priority nmr > human > mouse 
gene_reference['Global_name'] = np.nan
gene_reference['Global_ID'] = np.nan

for i in range(len(gene_reference)):
    if mask_nmr[i]:
        gene_reference.loc[i, 'Global_name'] = gene_reference.loc[i, 'NMR gene name']
        gene_reference.loc[i, 'Global_ID'] = gene_reference.loc[i, 'gene_ids']
    elif mask_mouse[i]:
        gene_reference.loc[i, 'Global_name'] = gene_reference.loc[i, 'Mouse gene name']
        gene_reference.loc[i, 'Global_ID'] = gene_reference.loc[i, 'Mouse gene stable ID']
    elif mask_human[i]:
        gene_reference.loc[i,'Global_name']= gene_reference.loc[i, 'Human gene name']
        gene_reference.loc[i, 'Global_ID'] = gene_reference.loc[i, 'Human gene stable ID']
    else:
        gene_reference.loc[i, 'Global_name'] = gene_reference.loc[i, 'gene_ids']
        gene_reference.loc[i, 'Global_ID'] = gene_reference.loc[i, 'gene_ids']

gene_reference

/tmp/ipykernel_1851123/297075769.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'ZMYND10' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  gene_reference.loc[i, 'Global_name'] = gene_reference.loc[i, 'NMR gene name']
/tmp/ipykernel_1851123/297075769.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'ENSHGLG00000010267' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  gene_reference.loc[i, 'Global_ID'] = gene_reference.loc[i, 'gene_ids']

,NMR gene name,gene_ids,Human gene stable ID,Human gene name,Mouse gene stable ID,Mouse gene name,Local_ID,Global_name,Global_ID
0,ZMYND10,ENSHGLG00000010267,ENSG00000004838,ZMYND10,ENSMUSG00000010044,Zmynd10,LOCAL00000000000,ZMYND10,ENSHGLG00000010267
1,AMIGO3,ENSHGLG00000010542,NaN,NaN,NaN,NaN,LOCAL00000000001,AMIGO3,ENSHGLG00000010542
2,TNFSF10,ENSHGLG00000010558,NaN,NaN,NaN,NaN,LOCAL00000000002,TNFSF10,ENSHGLG00000010558
3,ENSHGLG00000010617,ENSHGLG00000010617,NaN,NaN,NaN,NaN,LOCAL00000000003,ENSHGLG00000010617,ENSHGLG00000010617
4,NPRL2,ENSHGLG00000010655,ENSG00000114388,NPRL2,ENSMUSG00000010057,Nprl2,LOCAL00000000004,NPRL2,ENSHGLG00000010655
...,...,...,...,...,...,...,...,...,...
20769,ENSHGLG00000000459,ENSHGLG00000000459,NaN,NaN,NaN,NaN,LOCAL00000020769,ENSHGLG00000000459,ENSHGLG00000000459
20770,ENSHGLG00000000069,ENSHGLG00000000069,NaN,NaN,NaN,NaN,LOCAL00000020770,ENSHGLG00000000069,ENSHGLG00000000069
20771,ENSHGLG00000019630,ENSHGLG00000019630,NaN,NaN,NaN,NaN,LOCAL00000020771,ENSHGLG00000019630,ENSHGLG00000019630
20772,ENSHGLG00000019772,ENSHGLG00000019772,NaN,NaN,NaN,NaN,LOCAL00000020772,ENSHGLG00000019772,ENSHGLG00000019772
20773,ENSHGLG00000019705,ENSHGLG00000019705,NaN,NaN,NaN,NaN,LOCAL00000020773,ENSHGLG00000019705,ENSHGLG00000019705

In [12]:
print(len(set(gene_reference['Global_ID'])))
print(len(gene_reference))
len(set(gene_reference['Global_ID'])) == len(gene_reference)

20774
20774

True

In [13]:
print(len(set(gene_reference['Global_name'])))
print(len(gene_reference))
len(set(gene_reference['Global_name'])) == len(gene_reference)
print(f'Difference: {len(gene_reference) - len(set(gene_reference["Global_name"]))} duplicated gene names')
# There are some duplicated gene names, but not gene ids

20773
20774
Difference: 1 duplicated gene names

In [14]:
unique_genes = gene_reference.groupby('Global_name').count()['Global_ID']
not_unique = unique_genes[unique_genes>1].index.tolist()
duplicated_genes = gene_reference[gene_reference['Global_name'].isin(not_unique)].sort_values('Global_name')   
duplicated_genes

,NMR gene name,gene_ids,Human gene stable ID,Human gene name,Mouse gene stable ID,Mouse gene name,Local_ID,Global_name,Global_ID
1658,RPS3A,ENSHGLG00000016233,NaN,NaN,NaN,NaN,LOCAL00000001658,RPS3A,ENSHGLG00000016233
17373,ENSHGLG00000000392,ENSHGLG00000000392,ENSG00000145425,RPS3A,NaN,NaN,LOCAL00000017373,RPS3A,ENSG00000145425

In [17]:
gene_reference

,NMR gene name,gene_ids,Human gene stable ID,Human gene name,Mouse gene stable ID,Mouse gene name,Local_ID,Global_name,Global_ID
0,ZMYND10,ENSHGLG00000010267,ENSG00000004838,ZMYND10,ENSMUSG00000010044,Zmynd10,LOCAL00000000000,ZMYND10,ENSHGLG00000010267
1,AMIGO3,ENSHGLG00000010542,NaN,NaN,NaN,NaN,LOCAL00000000001,AMIGO3,ENSHGLG00000010542
2,TNFSF10,ENSHGLG00000010558,NaN,NaN,NaN,NaN,LOCAL00000000002,TNFSF10,ENSHGLG00000010558
3,ENSHGLG00000010617,ENSHGLG00000010617,NaN,NaN,NaN,NaN,LOCAL00000000003,ENSHGLG00000010617,ENSHGLG00000010617
4,NPRL2,ENSHGLG00000010655,ENSG00000114388,NPRL2,ENSMUSG00000010057,Nprl2,LOCAL00000000004,NPRL2,ENSHGLG00000010655
...,...,...,...,...,...,...,...,...,...
20769,ENSHGLG00000000459,ENSHGLG00000000459,NaN,NaN,NaN,NaN,LOCAL00000020769,ENSHGLG00000000459,ENSHGLG00000000459
20770,ENSHGLG00000000069,ENSHGLG00000000069,NaN,NaN,NaN,NaN,LOCAL00000020770,ENSHGLG00000000069,ENSHGLG00000000069
20771,ENSHGLG00000019630,ENSHGLG00000019630,NaN,NaN,NaN,NaN,LOCAL00000020771,ENSHGLG00000019630,ENSHGLG00000019630
20772,ENSHGLG00000019772,ENSHGLG00000019772,NaN,NaN,NaN,NaN,LOCAL00000020772,ENSHGLG00000019772,ENSHGLG00000019772
20773,ENSHGLG00000019705,ENSHGLG00000019705,NaN,NaN,NaN,NaN,LOCAL00000020773,ENSHGLG00000019705,ENSHGLG00000019705

In [16]:
gene_reference.to_csv('/home/raquelcr/scanpy/gene_reference.csv', index=False)